<header class="default-nav">
	<a class="logo" href="/"><img src="https://placekitten.com/g/300/300" alt="Logo image"><span>Social app</span></a>
	<nav id="main-navigation">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
			<li><a href="/dashboard">Dashboard</a></li>
		</ul>
	</nav>
</header>
