		<% include ../partials/header.ejs %>
		<% include ../partials/navbar.ejs %>

		<link rel="stylesheet" href="css/style1.css">
		
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-2">Welcome!</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<button class="btn btn-primary btn-large">Learn more..</button>
				<button class="btn btn-primary btn-large">Log in</button>
				<button class="btn btn-primary btn-large">Sign up</button>
			</div>
		</div>

		<div class="container">
			<div>
				<img class="img-thumbnail imgx float-left" src="http://orig11.deviantart.net/881e/f/2009/173/8/1/bioshroom_200x200_by_nintenzone.png" alt="Feautures describing image">		
				<div>
					<p class="description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
				</div>
			</div>
		</div>
	<% include ../partials/footer.ejs %>
	
