body{
    background-color: #232323;
    margin: 0;
    font-family: sans-serif;
}

.square{
    background-color:pink;
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background .5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#container{
    max-width: 600px;
    margin: 20px auto;
}

#message{
    display: inline-block;
    width: 20%;
}

h1{
    color: white;
    text-align: center;
    background: steelblue;
    line-height: 1.1;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

#colorDisplay{
    font-size: 200%;
}

#stripe{
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected{
    background-color: steelblue;
    color: white;
}

button:hover{
    color:white;
    background: steelblue;
}

.main-game{
	display: block;
	min-height: 600px;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all .3s;
    outline: none;
}
