<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="css/navbar-style.css">
	<link rel="stylesheet" href="css/footer-style.css">
	<link rel="stylesheet" href="css/footer-style.css">
	<link rel="stylesheet" href="css/dashboard.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
	<% include ../partials/navbar.ejs %>	

	<div class="content">
		<h1>Dashboard</h1>
	
		<div class="games">
			<h2>Games</h2>
			<a href="/games/color-game">Color game</a>
		</div>

		<a id="logout" href="/logout">Log out</a>
	</div>

	<% include ../partials/footer.ejs %>
</body>
</html>
