<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="css/navbar-style.css">
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="css/footer-style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
	<% include ../partials/navbar.ejs %>	

	<div class="content">
		<h2>Login</h2>
		<form action="/login" method="post">
			<label for="text">Username</label>
			<input type="text" name="username" class="form-control" placeholder="Enter you username" required autofocus>
			<label for="password">Password</label>
			<input type="password" name="password" class="form-control" placeholder="Enter you text adress" required autofocus>
			<button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
		</form>
	</div>

	<% include ../partials/footer.ejs %>


</body>
</html>
