<% include ../partials/header.ejs%>
<% include ../partials/navbar.ejs %>	

<div class="container">
	<form action="/register" method="post">
		<label for="text">Email address</label>
		<input type="text" name="username" class="form-control" placeholder="Enter you username" required autofocus>
		<label for="password">Password</label>
		<input type="password" name="password" class="form-control" placeholder="Enter you text adress" required autofocus>
		<button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
	</form>
</div>

<% include ../partials/footer.ejs %>
